$transition: all 500ms ease-in-out;

.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	width: 90vw;
}

.card {
	display: flex;
	flex-flow: column wrap;
	perspective: 100rem;

	&:hover {
		.card-front {
			transform: rotateY(-180deg);
			visibility: hidden;
			opacity: 0;
		}

		.card-back {
			transform: rotateY(0deg);
			visibility: visible;
			opacity: 1;
		}

		.card-back-content {
			animation: translate 1s ease-in-out;
		}
	}
}

.card-front {
	transition: $transition;
	border-radius: 1rem;
	box-shadow: 0 0 1rem rgba(51, 51, 51, 0.1), 0 0 1rem rgba(51, 51, 51, 0.1);
	overflow: hidden;
}

.card-back {
	position: absolute;
	height: 100%;
	padding: 2rem;
	background: #eee;
	transform: rotateY(180deg);
	transition: $transition;
	border-radius: 1rem;
	box-shadow: 0 0 1rem rgba(51, 51, 51, 0.1), 0 0 1rem rgba(51, 51, 51, 0.1);
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
}

.card-back-content {
	display: flex;
	flex-flow: column wrap;
	height: inherit;
	justify-content: space-between;
	gap: 1rem;
}

.button {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	background: hsl(222, 66%, 50%);
	padding: 1.5rem;
	transition: all 300ms ease-in-out;
	border-radius: 0.5rem;

	&:hover,
	&:focus {
		background: hsl(222, 66%, 45%);
	}

	&:active {
		background: hsl(222, 66%, 40%);
	}
}

@keyframes translate {
	0% {
		transform: translateX(-1rem);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
